<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tike-ennuste-heading" jhiTranslate="neo4JmasterdataApp.tikeEnnuste.home.createOrEditLabel">Create or edit a Tike Ennuste</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.tikeEnnuste.vuosi" for="field_vuosi">Vuosi</label>
                    <input type="number" class="form-control" name="vuosi" id="field_vuosi"
                           formControlName="vuosi"/>
                    <div *ngIf="editForm.get('vuosi')!.invalid && (editForm.get('vuosi')!.dirty || editForm.get('vuosi')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vuosi')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('vuosi')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.tikeEnnuste.vaesto" for="field_vaesto">Vaesto</label>
                    <input type="number" class="form-control" name="vaesto" id="field_vaesto"
                           formControlName="vaesto"/>
                    <div *ngIf="editForm.get('vaesto')!.invalid && (editForm.get('vaesto')!.dirty || editForm.get('vaesto')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vaesto')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('vaesto')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.tikeEnnuste.kunta" for="field_kunta">Kunta</label>
                    <select class="form-control" id="field_kunta" name="kunta" formControlName="kunta">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="kuntaOption.id === editForm.get('kunta')!.value?.id ? editForm.get('kunta')!.value : kuntaOption" *ngFor="let kuntaOption of kuntas; trackBy: trackById">{{ kuntaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>

                <button type="button" id="get-tike" class="btn btn-secondary" (click)="getTikeStatistic()">Hae Tikestä</button>
            </div>

            Jotain
            <div [innerHTML]="resultjson"></div>
        </form>
    </div>
</div>
