<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tikeEnnuste">
            <h2><span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.detail.title">Tike Ennuste</span> {{ tikeEnnuste.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.vuosi">Vuosi</span></dt>
                <dd>
                    <span>{{ tikeEnnuste.vuosi }}</span>
                </dd>
                <dt><span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.vaesto">Vaesto</span></dt>
                <dd>
                    <span>{{ tikeEnnuste.vaesto }}</span>
                </dd>
                <dt><span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.kunta">Kunta</span></dt>
                <dd>
                    <div *ngIf="tikeEnnuste.kunta">
                        <a [routerLink]="['/kunta', tikeEnnuste.kunta?.id, 'view']">{{ tikeEnnuste.kunta?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tike-ennuste', tikeEnnuste.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
