<div>
    <h2 id="page-heading">
        <span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.home.title">Tike Ennustes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tike-ennuste" [routerLink]="['/tike-ennuste/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="neo4JmasterdataApp.tikeEnnuste.home.createLabel">
            Create a new Tike Ennuste
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tikeEnnustes?.length === 0">
        <span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.home.notFound">No tikeEnnustes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tikeEnnustes && tikeEnnustes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vuosi"><span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.vuosi">Vuosi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vaesto"><span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.vaesto">Vaesto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="kunta.id"><span jhiTranslate="neo4JmasterdataApp.tikeEnnuste.kunta">Kunta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tikeEnnuste of tikeEnnustes ;trackBy: trackId">
                    <td><a [routerLink]="['/tike-ennuste', tikeEnnuste.id, 'view']">{{ tikeEnnuste.id }}</a></td>
                    <td>{{ tikeEnnuste.vuosi }}</td>
                    <td>{{ tikeEnnuste.vaesto }}</td>
                    <td>
                        <div *ngIf="tikeEnnuste.kunta">
                            <a [routerLink]="['/kunta', tikeEnnuste.kunta?.id, 'view']" >{{ tikeEnnuste.kunta?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tike-ennuste', tikeEnnuste.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tike-ennuste', tikeEnnuste.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tikeEnnuste)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tikeEnnustes && tikeEnnustes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
