<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-kunta-heading" jhiTranslate="neo4JmasterdataApp.kunta.home.createOrEditLabel">Create or edit a Kunta</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.kunta.kuntakoodi" for="field_kuntakoodi">Kuntakoodi</label>
                    <input type="text" class="form-control" name="kuntakoodi" id="field_kuntakoodi"
                           formControlName="kuntakoodi"/>
                    <div *ngIf="editForm.get('kuntakoodi')!.invalid && (editForm.get('kuntakoodi')!.dirty || editForm.get('kuntakoodi')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('kuntakoodi')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.kunta.nimiFi" for="field_nimiFi">Nimi Fi</label>
                    <input type="text" class="form-control" name="nimiFi" id="field_nimiFi"
                           formControlName="nimiFi"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.kunta.nimiSe" for="field_nimiSe">Nimi Se</label>
                    <input type="text" class="form-control" name="nimiSe" id="field_nimiSe"
                           formControlName="nimiSe"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
