<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kunta">
            <h2><span jhiTranslate="neo4JmasterdataApp.kunta.detail.title">Kunta</span> {{ kunta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="neo4JmasterdataApp.kunta.kuntakoodi">Kuntakoodi</span></dt>
                <dd>
                    <span>{{ kunta.kuntakoodi }}</span>
                </dd>
                <dt><span jhiTranslate="neo4JmasterdataApp.kunta.nimiFi">Nimi Fi</span></dt>
                <dd>
                    <span>{{ kunta.nimiFi }}</span>
                </dd>
                <dt><span jhiTranslate="neo4JmasterdataApp.kunta.nimiSe">Nimi Se</span></dt>
                <dd>
                    <span>{{ kunta.nimiSe }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kunta', kunta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
