<div>
    <h2 id="page-heading">
        <span jhiTranslate="neo4JmasterdataApp.kunta.home.title">Kuntas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kunta" [routerLink]="['/kunta/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="neo4JmasterdataApp.kunta.home.createLabel">
            Create a new Kunta
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="kuntas?.length === 0">
        <span jhiTranslate="neo4JmasterdataApp.kunta.home.notFound">No kuntas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="kuntas && kuntas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="kuntakoodi"><span jhiTranslate="neo4JmasterdataApp.kunta.kuntakoodi">Kuntakoodi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nimiFi"><span jhiTranslate="neo4JmasterdataApp.kunta.nimiFi">Nimi Fi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nimiSe"><span jhiTranslate="neo4JmasterdataApp.kunta.nimiSe">Nimi Se</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let kunta of kuntas ;trackBy: trackId">
                    <td><a [routerLink]="['/kunta', kunta.id, 'view']">{{ kunta.id }}</a></td>
                    <td>{{ kunta.kuntakoodi }}</td>
                    <td>{{ kunta.nimiFi }}</td>
                    <td>{{ kunta.nimiSe }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/kunta', kunta.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/kunta', kunta.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(kunta)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="kuntas && kuntas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
