<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="track">
            <h2><span jhiTranslate="neo4JmasterdataApp.track.detail.title">Track</span> {{ track.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="neo4JmasterdataApp.track.name">Name</span></dt>
                <dd>
                    <span>{{ track.name }}</span>
                </dd>
                <dt><span jhiTranslate="neo4JmasterdataApp.track.album">Album</span></dt>
                <dd>
                    <div *ngIf="track.album">
                        <a [routerLink]="['/album', track.album?.id, 'view']">{{ track.album?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/track', track.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
