<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-album-heading" jhiTranslate="neo4JmasterdataApp.album.home.createOrEditLabel">Create or edit a Album</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.album.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.album.artist" for="field_artist">Artist</label>
                    <select class="form-control" id="field_artist" name="artist" formControlName="artist">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="artistOption.id === editForm.get('artist')!.value?.id ? editForm.get('artist')!.value : artistOption" *ngFor="let artistOption of artists; trackBy: trackById">{{ artistOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="neo4JmasterdataApp.album.genre" for="field_genre">Genre</label>
                    <select class="form-control" id="field_genre" name="genre" formControlName="genre">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="genreOption.id === editForm.get('genre')!.value?.id ? editForm.get('genre')!.value : genreOption" *ngFor="let genreOption of genres; trackBy: trackById">{{ genreOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
